.scrollup {
    position: fixed;
    bottom: -30%;
    right: 2.5rem;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    cursor: pointer;
    transition: 0.3s all ease-in;
}

.scrollup.scroll-active {
    bottom: 3rem;
}

.scrollup__icon {
    font-size: 1.5rem;
    color: var(--container-color);
}

.scrollup:hover {
    background-color: var(--title-color-dark);
}

@media screen and (max-width: 980px) {
    .scrollup {
        right: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .scrollup {
        right: 1rem;
    }

    .scrollup.scroll-active {
        bottom: 5rem;
    }
}


